body {
    background-color: #00060a;
    color: white;
}

header {
    padding: 2px 20px;
}

header img {
    height: 200px;
   width: 300px;
}

.content {
    border: 1px solid rgb(0, 61, 61);
    border-radius: 10px;
    margin: 8px;
    padding: 10px;
}

main {
    margin: 0 20px;
}

.menu_ingredients {
    color: #509ca4;
}

.menu_price {
    color: #509ca4;

}

nav {
    display: flex;
    justify-content: space-around;
}

a {
    color: #509ca4;
    font-size: 30px;
    position: relative;
    transition: color 0.4s ease;
}

a:hover {
    color: white;
}

h1{
    color: #bfcfd6;
}
h2{
    color: #bfcfd6;
}

