@font-face {
    font-family: 'Open Sans';
    src: url(/assets/Fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}